body {
    margin: 0;
    padding: 0;
    display: block;
}



.headerinicio {
    margin: 0;
    width: calc(100% - 0px);
    height: 60px;
    padding:  15px;
    display: flex;
    background-color: #0C1E6D;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}


.butinicio {
    padding: 5px;
    width: 70px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.butinicio:hover,
.busca:hover {
    box-shadow: 1px 1px 1px 1px;

}

.busca {
    display: flex;
    background-color: white;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    margin-left: 100px;

}

input[type="text"]:focus {
    outline: none;
}

.butcard {
    border: none;
    border-radius: 5px;
    background-color: #0C1E6D;
    color: rgb(241, 241, 241);
    position: relative;
    top: 15px;
    font-size: 13px;
    margin: 5PX;

}

/* ESTILIZANDO O HEADER */

.container {
    width: 100%;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 13% auto 14%;
    grid-gap: 10px;
}

.column1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 4px 0px #333;

}
.column2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 4px 0px #333;

}
.column3{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 4px 0px #333;

}


.card {
    background-color: WHITE;
    width: 130px;
    height: 120px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20PX;
    box-shadow: #043457 .5px .5px 3px .5px;


}

.butcard {
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #0C1E6D;
    color: rgb(241, 241, 241);
    position: relative;
    top: 15px;
    font-size: 13px;

}

/* ESTILIZANDO O NAVBAR */

.navbar {
    background-color: #0064AA;
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card {
    background-color: WHITE;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: #043457 .5px .5px 3px .5px;
    margin-top: 20px;


}

.sairbar {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    width: 100px;
    border-radius: 15px;
    border: none;
    position: relative;
    margin-left: 30px;

}

/* ESTILIZANDO O INFORMA (CONTEÚDO DOS CARDS DE USUÁRIOS) */

.card2 {
    background-color: white;
    width: 130px;
    padding: 10px;
    border: 3px #0C1E6D solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: #043457 0.5px 0.5px 3px 0.5px;
    transition: box-shadow 0.4s;
    margin: 10px;
    position: relative;
    z-index: 1;
}

.card2:hover {
    box-shadow: #043457 0px 0px 10px 3px;
}


.nomeusuario {
    width: 100%;
    border: none;
    background-color: #0C1E6D;
    color: rgb(241, 241, 241);
    position: relative;
    top: 15px;
    font-size: 13px;
    text-align: center;
    padding: 1PX;

}

.funcaousuario {
    width: 100%;
    border: none;
    background-color: #0C1E6D;
    color: rgb(241, 241, 241);
    position: relative;
    font-size: 13px;
    text-align: center;
    padding: 1PX;
}





/* ESTILIZANDO A BARRA DE FILTRO */


.filtro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    text-align: center;
    position: relative;
    top: 50px;
    
}

.butfiltro {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.butfiltro:hover {
    background-color: #0056b3;
}

.selectt {

    width: 170px;
    height: 30px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

@media (MAX-WIDTH: 1798px) {
    .filtro {

        flex-direction: column-reverse;
        justify-content: center;
    }

    .selectt {
        margin: 10px;
    }

}